<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".ArchitectureActivity"></activity>
        <activity android:name=".archcomponents.ArchComponentsActivity" />
        <activity android:name=".mvp.translation.view.MvpActivity" />
        <activity
            android:name=".mvvm.MvvmActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>