<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".SecurityActivity" android:exported="true">
        </activity>
        <activity android:name=".encryption.EncryptActivity" android:exported="true"/>
    </application>

</manifest>