<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.location.gps" /> <!-- 使用OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <activity android:name=".MediaActivity" android:exported="true">
        </activity>
        <activity android:name=".opengles.OpenGLESActivity" android:exported="true"/>
        <activity android:name=".video.VideoActivity" android:exported="true"/>
    </application>

</manifest>