<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyq.firehelper.media">

    <uses-feature android:name="android.hardware.location.gps" /> <!-- 使用OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <activity android:name=".MediaActivity">
        </activity>
        <activity android:name=".opengles.OpenGLESActivity" />
        <activity android:name=".video.VideoActivity" />
    </application>

</manifest>