<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyq.firehelper.device">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application>
        <activity android:name=".DeviceActivity">
        </activity>
        <activity android:name=".bluetoothChat.BtActivity" />
        <activity android:name=".bluetoothChat.BtChatActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".PhoneInfo.PhoneInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_DOCK_EVENT" />
            </intent-filter>
        </activity>
    </application>

</manifest>