<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".UIMainActivity" android:exported="true"/>
        <activity android:name=".layout.tangram.TangramActivity" android:exported="true"/>
    </application>

</manifest>