<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyq.firehelper.ui">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".UIMainActivity"></activity>
        <activity android:name=".layout.tangram.TangramActivity" />
    </application>

</manifest>