<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyq.firehelper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.location.gps" />
    <!--使用OpenGL ES 2.0-->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.FireHelpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".base.home.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.home.MainActivity" />
        <activity android:name=".device.DeviceActivity" />
        <activity android:name=".device.bluetoothChat.BtActivity" />
        <activity android:name=".device.bluetoothChat.BtChatActivity" />
        <activity
            android:name=".article.ArticleMainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- <meta-data android:name="android.app.default_searchable" -->
            <!-- android:value="com.wyq.firehelper.article.SearchableActivity" /> -->
        </activity>
        <!-- <activity android:name=".article.SearchableActivity" android:launchMode="singleTop"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SEARCH" /> -->
        <!-- </intent-filter> -->
        <!-- <meta-data -->
        <!-- android:name="android.app.searchable" -->
        <!-- android:resource="@xml/searchable" /> -->
        <!-- </activity> -->
        <activity
            android:name=".article.WebViewActivity"
            android:launchMode="singleTask"
            android:process=":support" />
        <activity android:name=".architecture.ArchitectureActivity" />
        <activity android:name=".ui.widget.metroimageview.MetroImageViewActivity" />
        <activity android:name=".ui.UiMainActivity" />
        <activity android:name=".ui.android.draglayout.DragLayoutActivity" />
        <activity android:name=".ui.widget.zoomimageview.ZoomImageViewActivity" />
        <activity android:name=".ui.widget.circleimageview.CircleImageViewActivity" />
        <activity android:name=".encryption.EncryptActivity" />
        <activity android:name=".developKit.DevelopKitMainActivity" />
        <activity android:name=".developKit.butterknife.ButterKnifeActivity" />
        <activity android:name=".developKit.dagger.DaggerActivity" />
        <activity android:name=".developKit.glide.GlideActivity" />
        <activity android:name=".developKit.rxjava.RxJavaActivity" />
        <activity android:name=".developKit.eventbus.EventBusActivity" />
        <activity android:name=".developKit.androidannotations.AndroidAnnotationsActivity" />
        <activity android:name=".developKit.retrofit.RetrofitActivity" />
        <activity android:name=".architecture.mvp.translation.view.MvpActivity" />
        <activity android:name=".ui.layout.tangram.TangramActivity" />
        <activity android:name=".ui.layout.ultraviewpager.UltraViewPagerActivity" />
        <activity android:name=".kotlin.mvpGitHub.view.GitHubMainActivity" />
        <activity
            android:name=".architecture.mvvm.MvvmActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".java.aop.apt.AptActivity" />
        <activity android:name=".java.aop.AopActivity" />
        <activity android:name=".ui.widget.firetoast.FireToastActivity" />
        <activity android:name=".ui.android.animation.AnimationActivity" />
        <activity android:name=".ui.android.bottomdialog.BottomDialogActivity" />
        <activity android:name=".ui.android.popupwindow.PopupWindowActivity" />
        <activity android:name=".ui.android.recyclerview.RecyclerViewActivity" />
        <activity android:name=".device.camera.CameraActivity" />
        <activity android:name=".developKit.room.RoomActivity" />
        <activity android:name=".ui.android.transition.TransitionActivity" />
        <activity android:name=".architecture.archcomponents.ArchComponentsActivity" />
        <activity
            android:name=".service.ServiceActivity"
            android:launchMode="singleTask" />

        <service android:name=".base.AppInitIntentService" />
        <service android:name=".service.FireService" />

        <activity android:name=".developKit.mmkv.MMKVActivity" />
        <activity android:name=".ui.android.emoji.EmojiActivity" />
        <activity android:name=".media.opengles.OpenGLESActivity"></activity>
    </application>

</manifest>